#logo{
    }

body{
    background-color: #ebeff5;
}

#total-orders{
    background-color: #4cb4c7;
}

#orders-delivered{
    background-color: #7abecc;
}

#orders-pending{
    background-color: #7CD1C0;
}

.carousel {
    height: 500px;
    width: 500px;
}

.carousel-item img {
    max-height: 500px; /* input your desired height here */
  }

.video-disp {
    height: 500px;
    width: 700px;
}