{% extends 'accounts/main.html' %}

{% block content %}

<br>

{%  include 'accounts/status.html' %}

<br>

<div class="col">
	<div class="row" style="margin: auto">
		<div class="col">
			<h5>Ordenes de Mantenimiento</h5>
			<hr>
			<div class="card card-body justify-center">
				<table class="table table-sm">
					<tr>
						<th>Maquina/Equipo</th>
						<th>Fecha de creación</th>
						<th>Días abierta</th>
						<th>Titulo</th>
						<th>Estado</th>
						<th>Actualizar</th>
						<th>Eliminar</th>
					</tr>
					{% for order in orders %}
					<tr>
						<td>{{order.equipo}}</td>
						<td>{{order.date_created}}</td>
						<td>{{orders.duration}}</td>
						<td>{{order.title}}</td>
						<td>{{order.status}}</td>
						<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Actualizar</a></td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Eliminar</a></td>
					</tr>

					{% endfor %}
				</table>
			</div>
		</div>
	</div>

</div>

{% endblock %}