{% extends 'accounts/main.html' %}

{% block content %}

<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Equipos/Maquinas</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Equipo</th>
							<th>Categoria</th>
							<th>Descripción</th>
						</tr>
						{% for i in equipment %}
							<tr>
								<td>{{i.name}}</td>
								<td>{{i.category}}</td>
								<td>{{i.description}}</td>
							</tr>
						{% endfor %}
						
					</table>
				</div>
			</div>
			
		</div>

{% endblock %}