{% load static %}

<style>
  .hello-msg {
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="{% url 'home' %}">
    <img src="{% static 'images/logo-farmaplast.png' %}" width="180">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if request.user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Tablero</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'equipments' %}">Maquinas/Equipos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'all_orders' %}">Ordenes</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account' %}">Configuración</a>
      </li>
      {% endif %}
    </ul>
  </div>
  <span class="hello-msg">Hello, {{request.user}}</span>
  <span><a class="hello-msg" href="{% url 'logout' %}">Cerrar Sesión</a></span>
</nav>